@model MeetingScheduler.Models.MeetingUser

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MeetingUser</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.equipmentNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.equipmentNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.importantNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.importantNotes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
